# ignore file .env
.env

# ignore files and dirs generate from os
*.log
*.pot
*.pyc
__pycache__/

# ignore files and dirs generate from IDE´s
.idea/

# ignore dirs and files from virtual environments
venv/
.venv

# ignore sql files
db.sqlite3

# ignore static files
staticfiles
staticfiles/